{% extends "base.html" %}
{% from "macros.html" import render_job,render_company %}

{% block title %}搜索关键字{% endblock %}

{% block body %}
{% if name == 'job' %}
<ul class="nav nav-tabs list-title" style="margin-top: 50px">
  <li role="presentation" class="active">
    <a href="#">搜索职位</a>
  </li>
</ul>
<div class="job-list">
  {% for job in filter_jobs %}
    {{ render_job(job) }}
  {% endfor %}
</div>
{% endif %}

{% if name == 'company' %}
    <ul class="nav nav-tabs list-title" style="margin-top: 50px">
  <li role="presentation" class="active">
    <a href="#">搜索公司</a>
  </li>
</ul>

<div class="company-list">
  {% for company in filter_companies %}
    {{ render_company(company) }}
  {% endfor %}
</div>
{% endif %}
{% endblock %}