{% extends "company/base.html" %}
{% from "macros.html" import render_form %}

{% block title %}
    统计管理
{% endblock %}

{% block right %}
    <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
    <div id="main" style="width: 400px;height:400px;"></div>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '简历统计 -- '+ {{ job_name | tojson}}
            },
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c}"
            },
            series: [
                {
                    name: '简历统计',
                    type: 'pie',
                    radius: '55%',
                    center: ['50%', '50%'],
                    data:{{ data | tojson }}
                }
            ]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
{% endblock %}